<div class="modal-header">
  <h4 class="modal-title">Type <%=@type.name%></h4>
</div>

<div class="modal-body">
  <div class="login">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Name:</strong>
      <%= @type.name %>
    </p>
    <p>
      <strong>Avatar:</strong>
    <div style="width:200px; height: auto">
      <%= image_tag(@type.image, style: "width: 100%") if @type.image.attached? %>
    </div>
    </p>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" id="close-button-show-type">Close</button>
</div>
